.fa {
    color: #000;
}

.fa:hover {
    color: #3de534 !important;
}

.containercrud{
    margin: 200px;
    margin-bottom: 100px;
}

@media(max-width:767px) {
    .containercrud{
        margin-left: 100px;
    }
}
